body {
    height: 720px;
    width: 1024px;
    background-image: url();
    background-size:  1024px 720px;
    background-repeat: no-repeat;
   
}
#tvScreen {
    height: 50%;
    width: 50%;
    background-color: rgb(214, 214, 14);
    float: left;
    }

#info{
    float:right;
    height: 50%;
    width: 49%;
    
   }

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 27px solid rgb(77, 6, 255);

    position: relative;
    left: 495px;
    top: 400px;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 27px solid rgb(77, 6, 255);
    position: relative;
    left: 495px;
    top: 100px;
    
  }

#ok{
    position: relative;
    left: 550px;
    top: 85px;
    text-align: center;
    background-color:rgb(77, 6, 255) ;
    color: white;
    border: none;
    
}
#vote{
    position: relative;
    left: 502.5px;
    top: 15px;
    width: 1.3em;
    height: 1.3em;
    text-align: center;
    background-color:rgb(77, 6, 255) ;
    color: white;
}
#avgVote{
    position: relative;
    left: 610px;
    top: -45px;
    width: 5em;
    height: 5em;
    text-align: center;
    background-color:rgb(77, 6, 255) ;
    color: white;
    display: none;
    border: none;
}
#info{
    background-color: rgba(0, 0, 0, 0.071);
}