body {
  height: 720px;
  width: 1024px;
  background-image: url();
  background-size: 1024px 720px;
}
#divBody {
  height: 720px;
  width: 1024px;
  background-image: url();
  background-size: 1024px 720px;
}
#tvScreen {
  height: 100%;
  width: 100%;
  float: left;
  margin-top: -43px;
}

#info {
  float: right;
  height: 48%;
  width: 39%;
  border: blue;
  border-width: 5px;
  background-image: url();
  background-size: 169px 111px;
  background-repeat: no-repeat;
  background-position-x: 60%;
  background-position-y: 100%;
  margin-top: -10px;
}
/*
section {
  width: 200px;
  width: 296px;
  background-color: blue;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 27px solid rgb(77, 6, 255);

  position: relative;
  left: 750px;
  top: 180px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 27px solid rgb(77, 6, 255);
  position: relative;
  left: 750px;
  top: -75px;
}

#ok {
  position: relative;
  left: 800px;
  top: -95px;
  text-align: center;
  background-color: rgb(77, 6, 255);
  color: white;
  border: none;
}
#vote {
  position: relative;
  left: 760px;
  top: -160px;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  background-color: rgb(77, 6, 255);
  color: white;
}
#avgVote {
  position: relative;
  left: 850px;
  top: -225px;
  width: 5em;
  height: 5em;
  text-align: center;
  background-color: rgb(77, 6, 255);
  color: white;
  display: none;
  border: none;
}
#info {
  background-color: rgba(0, 0, 0, 0.071);
} */

.slider-container {
  position: relative;
  overflow: hidden;
  height: 36%;
  width: 100%;
  top: 40px;
}

.slider {
  display: none;
}

.slider.active {
  display: block;
}

#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

#prev-btn {
  left: 10px;
}

#next-btn {
  right: 10px;
}
#divBody  img {
  float: right;
  margin-right: 52px;
}
#vdoPlr {
  height: 720px;
  width: 1024px;
  display: none;
}

.vdoPlr {
  position: relative;
  top: -80px;
}
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-seek-forward-button,
video::-webkit-media-controls-seek-back-button,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-toggle-closed-captions-button,
video::-webkit-media-controls-play-button {
  display: none;
}
#videoControlls {
  display: none;
  position: relative;
  top: -200px;
  left: 450px;
}
section {
  height: 0px;
  width: 0px;
}
#slider {
  border: blue;
  border-width: 5px;
  background-image: url();
  background-size: 210px 288px;
  background-repeat: no-repeat;
  background-position-x: 94.75%;
}
#news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  display: none;
  width: 300px;
  padding: 10px;
  margin: 10px;
}

.article img {
  width: 50%;
  height: 100px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

#prev-btn-news {
  margin-left: 210px;
  margin-top: 15px;
}
#next-btn-news {
  margin-left: 210px;
  margin-bottom: 15px;
}
#newsInfo {
  text-align: end;
  margin-right: 10px;
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 15%;
  display: none;
  z-index: 9;
  background-color: lightgreen;
}
#newsTitle {
  text-align: center;
  margin-right: 10px;
}
#newsDesc {
  text-align: center;
  margin-right: 10px;
}
#next-btn,
#prev-btn {
  height: 10px;
  width: 10px;
  background-color: lightgrey;
  text-align: center;
  color: blue;
  font-weight: 700;
}
#min10,
#playpauseBtn,
#plus10,
#prev-btn-news,
#next-btn-news {
  height: 20px;
  width: 20px;
  background-color: lightgrey;
  text-align: center;
  color: blue;
  font-weight: 700;
}
#min10,
#playpauseBtn,
#plus10,
#controllText {
  display: inline-block;
  margin-left: 5px;
}
#controllText {
  height: 20px;
  width: 180px;
  background-color: lightgrey;
  text-align: center;
  color: blue;
  font-weight: 700;
}
#appManDiv {
  display: none;
}
#epgInfo {
  text-align: end;
  margin-right: 10px;
  position: absolute;
  height: 50%;
  width: 50%;
  top: 25%;
  left: 15%;
  display: none;
  z-index: 7;
  background-color: gainsboro;
}
#epgBtn {
  height: 20px;
  width: 40px;
  background-color: lightgrey;
  text-align: center;
  color: blue;
  font-weight: 700;
  margin: 25px 0 15px 200px;
}
#backPopup {
  position: absolute;
  text-align: end;
  right: 10px;
  top: 246px  
}
#table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#data-table {
  margin-bottom: 10px;
}

#buttons {
  display: flex;
  justify-content: center;
}

#prev-btn-channel,
#next-btn-channel {
  height: 20px;
  width: 20px;
  background-color: lightgrey;
  text-align: center;
  color: blue;
  font-weight: 700;
  }
td, tr{
  text-align: center;
}
th{
  width: 256px;
}
#prev-btn-channel {
  background-color: yellow;
  position: absolute;
  float: left;
  top: 150px;
  left: 10px;
  }
  #next-btn-channel {
    position: absolute;
    float: right;
    top: 150px;
    right: 10px;
  }
  #imgSinistra {
    transition: width 5s;
    transition-timing-function: ease-in-out;


    position: relative;
    float: right;
    top: -244px;
    z-index: 3;
    right: 754px;
  }
  #imgSfondo {
    
    position: relative;
    float: right;
    top: -306px;
    right: 242px;
    z-index: 2;
  }
  #testo1 {
    
    position: relative;
    float: right;
    top: -361px;
    z-index: 12;
    right: 274px;
    font-size: small;;
  }
  #testo2 {
    
    position: relative;
    float: right;
    top: -349px;
    z-index: 3;
    right: -216px;
  }
  #mediaSet{
    opacity: 0;
    animation: fadeInOut 60s linear infinite; 
  }
  
  
  @keyframes fadeInOut {
    0% {
      opacity: 0; 
    }
    3.33% {
      opacity: 1; 
    }
    25% {
      opacity: 1; 
    }
    28.33%, 32% {
      opacity: 0; 
    }
   33%, 100% {
      opacity: 0; 
    }
  }